[Service]
WorkingDirectory=/root
ExecStart=/root/mc
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=propanel
User=root
Group=root
Environment=NODE_ENV=
Environment=PSQL_USERNAME=
Environment=PSQL_PASSWORD=
Environment=PSQL_DATABASE=
Environment=JWT_SECRET_KEY=
Environment=JWT_TOKEN_DURATION=

[Install]
WantedBy=multi-user.target
